# .mailmap - Force all contributions to be attributed to troaphdev
troaphdev <troaphdev@users.noreply.github.com> ThirtyVirus <thirtyvirus@users.noreply.github.com>
troaphdev <troaphdev@users.noreply.github.com> Troaph <troaph@users.noreply.github.com>
troaphdev <troaphdev@users.noreply.github.com> mitch <mitch@example.com>
troaphdev <troaphdev@users.noreply.github.com> 